### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin
*.iml
/.idea

#Logs
*.log
logs/

# Fichiers compilés
*.jar

# Fichiers de configuration sensibles (ne pas versionner les mots de passe)
database.properties

# Créer un fichier example à la place
# database.properties.example sera versionné



### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store